* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  font-family: 'Lato', sans-serif;
  background-color: #1a1f21;
  color: #c0ccd0 !important;
  font-weight: 300; }

input[type=text] {
  outline: 0;
  border: 0; }

.wrapper {
  width: 700px;
  height: 700px;
  margin: 0 auto;
  overflow: hidden; }

header {
  border-bottom: solid 1px #c0ccd0;
  margin-bottom: 20px; }
  header .podekexjs-title {
    font-size: 36px;
    line-height: 70px;
    color: #c0ccd0; }

#pokemon-list-container {
  float: left;
  width: 190px;
  height: 609px;
  margin-right: 40px;
  color: #fff;
  position: relative; }
  #pokemon-list-container .input-container {
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    left: 0; }
    #pokemon-list-container .input-container .pokemon-search-input {
      display: block;
      width: 190px;
      height: 25px; }
  #pokemon-list-container .pokemon-list {
    overflow-y: auto;
    width: 190px;
    margin-top: 35px;
    height: 100%;
    height: 574px; }
    #pokemon-list-container .pokemon-list li {
      padding: 10px 5px;
      cursor: pointer; }

#pokemon-detail {
  float: left;
  width: 470px;
  height: 609px; }

.pokemon-types .pokemon-type {
  overflow: hidden;
  float: left;
  padding: 5px;
  text-transform: uppercase;
  border-radius: 3px;
  margin-right: 10px;
  color: #fff;
  font-size: 13px;
  width: 75px;
  text-align: center; }
.pokemon-types .normal {
  background-color: #8a8a59; }
.pokemon-types .fire {
  background-color: #f08030; }
.pokemon-types .water {
  background-color: #6890f0; }
.pokemon-types .electric {
  background-color: #f8d030; }
.pokemon-types .grass {
  background-color: #78c850; }
.pokemon-types .ice {
  background-color: #98d8d8; }
.pokemon-types .fighting {
  background-color: #c03028; }
.pokemon-types .poison {
  background-color: #a040a0; }
.pokemon-types .ground {
  background-color: #e0c068; }
.pokemon-types .flying {
  background-color: #a890f0; }
.pokemon-types .psychic {
  background-color: #f85888; }
.pokemon-types .bug {
  background-color: #a8b820; }
.pokemon-types .rock {
  background-color: #b8a038; }
.pokemon-types .ghost {
  background-color: #705898; }
.pokemon-types .dragon {
  background-color: #7038f8; }
.pokemon-types .dark {
  background-color: #705848; }
.pokemon-types .steel {
  background-color: #b8b8d0; }
.pokemon-types .fairy {
  background-color: #e898e8; }
