* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Helvetica', sans-serif;
  background-color: #f1f1f1;
}

#pokemon-list-container {
  float: left;
  width: 20%;
  min-width: 240px;
  height: 100%;
  overflow: hidden;
  background-color: #222;
  color: #fff;

  .pokemon-search-input {
    display: block;
    width: 230px;
    margin: 10px auto;
    height: 25px;
    background-color: #f1f1f1;
  }

  .pokemon-list {
    width: 230px;
    margin: 0 auto;

    li {
      padding: 10px 5px;
      cursor: pointer;
    }
  }
}

#pokemon-detail {
  float: left;
  width: 70%;
  height: 100%;
  padding: 40px;
}


.pokemon-types {
  .pokemon-type {
    overflow: hidden;
    float: left;
    padding: 5px;
    text-transform: uppercase;
    border-radius: 3px;

  }
  .grass {
    background-color: green;
  }

  .poison {
    background-color: purple;
  }
}