<html ng-app="pokedexjs">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  </head>
  <body ng-controller="IndexCtrl">
    <div class="wrapper">
      <header>
        <h1 class="podekexjs-title">pokedex<span class="dot">.</span>js</h1>
      </header>

      <div id="main-container">
        <div class="section-header">
          <div class="input-container">
            <input class="pokemon-search-input" type="text" ng-model="query" placeholder="Name, number or type">
            <span class="header-icon search fa fa-search"></span>
          </div>
          <a href="" ng-click="getRandomPokemon()" class="header-icon randomize fa fa-random"></a>
        </div>
        <div class="section-main">
          <ul class="pokemon-list">
            <li class="pokemon" ng-click="showPokemon(pokemon)" ng-repeat="pokemon in pokemonList | filter:query | ignoreEvolution">
              <img src="{{pokemon.sprite}}" alt="">
              <div class="tooltip-info">{{pokemon.number}} - {{pokemon.name}}</div>
            </li>
          </ul>
        </div>
      </div>

      <div id="pokemon-detail" ng-controller="PokemonCtrl">
        <pokemon info="selectedPokemon"></pokemon>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.js"></script>
    <script src="../../db/pokemonDB.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>
  </body>
</html>
