<html ng-app="pokedexjs">
  <head>

  </head>
  <body ng-controller="IndexCtrl">


    <div style="display: inline-block">
      <input type="text" ng-model="name" placeholder="Search pokemon">

      <ul ng-repeat="pokemon in pokemonList | filter:name">
        <li ng-click="showPokemon(pokemon)">
          <p>{{pokemon.id}} - {{pokemon.identifier}}</p>
        </li>
      </ul>
    </div>

    <div style="display: inline-block" ng-controller="PokemonCtrl">
      <pokemon info="selectedPokemon"></pokemon>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
  </body>
</html>
