<html ng-app="pokedexjs">
  <head>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body ng-controller="IndexCtrl">
    <section id="pokemon-list-container">
      <input class="pokemon-search-input" type="text" ng-model="name" placeholder="Type a name, number or type">

      <ul class="pokemon-list" ng-repeat="pokemon in pokemonList | filter:name">
        <li ng-click="showPokemon(pokemon)">
          <p>{{pokemon.number}} - {{pokemon.name}}</p>
        </li>
      </ul>
    </section>

    <section id="pokemon-detail" ng-controller="PokemonCtrl">
      <pokemon info="selectedPokemon"></pokemon>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/pokemonDB.js"></script>
  </body>
</html>
