<html ng-app="pokedexjs">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body ng-controller="IndexCtrl">
    <div class="wrapper">
      <header>
        <h1 class="podekexjs-title">pokedex<span class="dot">.</span>js</h1>
      </header>

      <div id="main-container">
        <div class="section-header">
          <div class="input-container">
            <input class="pokemon-search-input" type="text" ng-model="query" placeholder="Search...">
          </div>
        </div>
        <div class="section-main">
          <ul class="pokemon-list">
            <li ng-click="showPokemon(pokemon)" ng-repeat="pokemon in pokemonList | filter:query">
              <img src="{{pokemon.sprite}}" alt="{{pokemon.number}} - {{pokemon.name}}"></p>
            </li>
          </ul>
        </div>
      </div>

      <div id="pokemon-detail" ng-controller="PokemonCtrl">
        <pokemon info="selectedPokemon"></pokemon>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="db/pokemonDB.js"></script>
  </body>
</html>
